/******************************************************************************/
/*****************  Copyright (c) 2008 by S1nn GmbH & Co. KG  *****************/
/***************************  All Rights Reserved  ****************************/
/******************************************************************************/

/******************************************************************************/
/* File Name:     Version.c
 *-----------------------------------------------------------------------------
 * Module Name:   Version
 *-----------------------------------------------------------------------------
 * Description:   Software Manufacturing Information
 *-----------------------------------------------------------------------------
 */

/*----------------------------------------------------------------------------*/
/* Global Variables Definitions (avoid as much as possible!)                  */
/*----------------------------------------------------------------------------*/
const char SoftwareVersion[]    = {"${internalrelease}"};
const char AsamOdxFileVersion[] = {"${odxversion}"};
const char Copyright[]          = {"Copyright ${year} S1nn GmbH & Co. KG"};
